.my_super_project*
*/CMakeFiles/*
*Makefile*
docs/doxygen/*
docs/sphinx/*
*.cmake
*.a
docs/Doxyfile
CMakeDoxyfile.in
CMakeCache.txt
MySuperProject
_deps/*
software/test/Testing/Temporary/*
software/test/TestAll
